name: Build & push other images

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Build & push base image"]
    branches: [main]
    types: 
      - completed

jobs:
  build:
    uses: magnuspihl/basic-env/.github/workflows/_build-and-push.yml@main
    strategy:
      matrix:
        image: [dotnet,python,homeassistant]
    with:
      image: ${{ matrix.image }}
